.site-header {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    background-position: center bottom;
    background-size: cover;
}
.site-header .nav-social a {
    background-color: rgba(255,255,255,0.3);
}

.wp-block-columns {
    margin-bottom: 0;
}
.wp-block-column,
.space-after-section {
    margin-bottom: 28px;
}

@media (max-width: 979px) {
    #sidebar {
        margin-top: 28px;
    }
}

article.post h3:first-of-type {
    font-size: 0.9em;
    color: #555;
    font-style: italic;
}
article.post h3:first-of-type a {
    color: #555;
}

.content .wp-block-button__link,
.content .wp-block-button__link:hover,
.content .wp-block-button__link:visited,
.wpforms-submit,
.site-footer li a {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;

    border-color: #ccd6dd;
    background: #ffffff;
    color: #003056;
    text-decoration: none;
}

.content .wp-block-button__link:active,
.content .wp-block-button__link:focus,
.content .wp-block-button__link:hover,
.wpforms-submit:hover,
.site-footer li a:hover {
    background: #4c6e88;
    border-color: #fff;
    color: #fff;
}

.site-footer ul {
    list-style-type: none;
}
.site-footer ul li a {
    margin-bottom: 5px;
    width: 100%;
    text-align: left;
}

.author-post {
    display: none;
}

section#comments {
    display: none;
}
