/** change font size to Roboto Slab */
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&display=swap");

h1,
h2,
h3,
h4,
.nav,
.post blockquote {
  font-family: Roboto Slab !important;
}

/** show menu indicator everytime */
.nav ul .current-menu-ancestor a:after {
  display: block;
}

#sidebar > ul {
  margin-top: 0 !important;
}

article.post .entry a img {
  max-width: 100%;
  height: auto;
  border: 5px solid #fff;
  box-shadow: 0px 1px 0px #ccd6dd;
}

/** slider */
.slider {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 20px;
}

.n2-ss-slider-1 {
  box-shadow: 0px 0px 5px 0px #ccc !important ;
  border: 10px solid #fff !important;
}




/** leaders */
.post .entry .leader-overview ul {
	margin: 0;
}
.leader-overview ul li {
	display: inline-block;
	list-style: none;
	margin: 0 10px 10px 0; 
	width:200px; 
	padding:5px;
	background-color: white; 
}

.leader-overview ul li a p {
	font-family: "Roboto Slab", serif;
	padding: 0 5px;
	color: #003056;
	text-decoration: none;
}

.leader-overview ul li p.name {
	margin-bottom: 5px;
}

.leader-overview ul li p.position {
	font-weight: 300;
	clear: both;
	font-size: 14px;
}

.post .entry .leader-overview ul li img {
	border: none;
	box-shadow: none;
	margin-bottom: 8px;
	max-width: 100%;
}

.leader-overview ul li:hover,
.leader-overview ul li:hover p {
	background-color: #003056;
	color: white;
}